body {
    background-image: url(assets/home.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    margin: 0 20px auto;
}

.left-cards-group,
.right-cards-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-cards-group {
    align-items: flex-end;
}

.ancient {
    width: 70%;
    border: 2px solid rgba(210, 203, 203, 0);
}

.card-active {
    border: 2px solid rgb(190, 25, 25);
    box-shadow: 1px 1px 2px rgb(190, 25, 25), 0 0 1em rgb(190, 25, 25);
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    visibility: hidden;
}

.difficulty {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty.visible {
    visibility: visible;
}

.header {
    color: rgb(190, 25, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(190, 25, 25);
    margin-top: 5px;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 12px;
    box-shadow: inset 3px 4px 5px rgb(190, 25, 25);
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 10px 0 10px;
}

button:hover {
    background-color: rgb(190, 25, 25);
    box-shadow: inset 3px 4px 5px rgb(210, 203, 203);
    transition: all 1s ease;
}

.visited {
    background-color: rgb(190, 25, 25);
    box-shadow: inset 3px 4px 5px rgb(210, 203, 203);
}

.levels {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mix-cards {
    font-size: 14px;
    width: 25%;
    margin-top: 50px;
}

.mix-cards.visible {
    visibility: visible;
}

.tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tracker.visible {
    visibility: visible;
}

.stage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.stage-name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 12px;
    box-shadow: inset 3px 3px 3px 3px rgb(190, 25, 25); 
    color: rgb(210, 203, 203);
    width: 25%;
    text-align: right;
}

.pointer {
    width: 40px;
    height: 20px;
    border: 1px rgb(190, 25, 25);
    margin: 0 10px 0;
    color: rgb(210, 203, 203);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.green1,
.green2,
.green3 {
    background-color: rgb(40, 85, 40);
}

.brown1,
.brown2,
.brown3 {
    background-color: rgba(221, 180, 33, 0.763);
}

.blue1,
.blue2,
.blue3 {
    background-color: rgb(86, 86, 188);
}

.deck {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.deck.visible {
    visibility: visible;
}

.shirt,
.shown-card {
    width: 30%;
}

.shirt.hidden {
    visibility: hidden;
}